@font-face {
    font-family: Poppins;
    src: url("/assets/Poppins-Bold.ttf");
}

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    /* background-color: black; */
    font-family: Poppins;
}
body {
    background-color: black;
}

header {
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 163, 212);
}
h1 {
    margin: 5px 0px;
    text-align: center;
}

#tile-wrapper {
    display: grid;
    height: 87.9vh;
    width: 99%;
    margin: 5px auto 0;
}

.tile {
    height: 100%;
    width: 100%;
    background-color: rgba(158, 158, 158);
    cursor: pointer;
    border: 2px solid black;
    /* transition: all 0.3s; */
}

/* invert is possible */
.maze {
    border: none;
    box-sizing: border-box;
    border-right: 4px solid #535353;
    border-bottom: 4px solid #535353;
}
.maze-pointer {
    background-color: #ff0000a2 !important;
}

.rightBorder {
    border-right: none;
}

.bottomBorder {
    border-bottom: none;
}

.maze.leftBorder {
    border-left: 4px solid #535353;
}

.maze.topBorder {
    border-top: 4px solid #535353;
}

.maze-visited {
    background-color: #888888;
}

.tile:hover {
    background-color: #c4c4c4;
}

.source-tile {
    background-color: #006cb4 !important;
}

.destination-tile {
    background-color: red !important;
}

.visited-tile {
    background-color: #00c3d1 !important;
}

.result-path {
    background-color: #91ff00 !important;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
}
select {
    padding: 5px 10px;
    border-radius: 5px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper > * {
    margin-right: 10px;
}
input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 5px;
}
